$BackBTNPosition:calc((50px - 35px) / 2);

.BackBTN{
    position: fixed;
    top: $BackBTNPosition;
    left: $BackBTNPosition;
    z-index: 100000000;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.4rem;
    cursor: pointer;
}